<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394456906491-ed6h7mc3uel50gtoteh3bspk0jt2sqrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394456906491-ed6h7mc3uel50gtoteh3bspk0jt2sqrd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>394456906491-b0aveisodg7rcvt65ok0au146c1to3uk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSbs-FerVPcTLAFBctbt0aCwzzCjCPyyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>394456906491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.prismaexpress.prisma</string>
	<key>PROJECT_ID</key>
	<string>prisma-express-app</string>
	<key>STORAGE_BUCKET</key>
	<string>prisma-express-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394456906491:ios:bf0fc4dac95dcda056ce5e</string>
	<key>DATABASE_URL</key>
	<string>https://prisma-express-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>